<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of Item">
    <ion-card-header>
      <ion-card-title>list name: {{i.name}}</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon (click)="deleteItem(i.id)" name="trash" slot="end"></ion-icon>
      <ion-button (click)="presentAlert(i.id)">Edit</ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <app-tabmenu></app-tabmenu>
</ion-footer>

